* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.3;
    letter-spacing: 1px;
    font-family: 'Georgia';
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Inter", sans-serif;
    color: rgb(19, 5, 5);
}

body {
    background-color: aliceblue;
}



header {
    background-color: antiquewhite;
    padding: 10px;
}

nav {
    display: flex;
    width: 960px;
    margin: auto;
}


nav a {
    color: black;
    text-decoration: none;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 200px );
    list-style-type: none;
}

nav img {
    width: 200px;
    height: 70px;
}

main {
    width: 960px;
    margin: auto;
}

section#main-heading {
    text-align: center;
    margin: 2rem 0;
}

section#main-heading h1 {
    margin-bottom: .8rem;
    font-size: 2.5rem;
}

section#hero-section {
    width: 960px;
    height: 450px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

div#locations {
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid black; */

    margin-top: 2rem;
}
section h3{
    margin-top: 1rem;
    text-align: center;

}
div.location {
    height: 200px;
    width: 30%;
    margin: .8rem;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: white;
}

footer {
    border: 1px solid black;
    margin: 1rem 0 0 0;
    text-align: center;
    padding: 1rem;
    background-color: bisque;


}


